<app-header></app-header>
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des groupes</div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>Nom Groupe</th><th>Projet</th>
        </tr>
        <tr *ngFor="let c of groupes">
          <td>{{c.idGroupe}}</td>
          <td>{{c.nomGroupe}}</td>
          <td>{{c.projet?.nomCourt}}</td>

          
        </tr>
      </table>
    </div>
  </div>
</div>
